*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
}

.container{
    display:flex;
    height:100vh;
}

/* 左侧菜单 */
.sidebar{
    width:220px;
    background:#304156;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
    text-align:center;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px;
    margin-bottom:10px;
    background:#3c4b64;
    border-radius:5px;
    cursor:pointer;
}

.sidebar li:hover{
    background:#409eff;
}

/* 右侧内容 */
.main{
    flex:1;
    padding:30px;
    background:#f5f7fa;
}

.main h1{
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse: collapse;
    margin-top:20px;
    background:white;
}

th,td{
    border:1px solid #ddd;
    padding:12px;
    text-align: center;
}

button{
    padding:8px 15px;
    border:none;
    background:#67c23a;
    color:white;
    border-radius: 5px;
    cursor:pointer;
}

button:hover{
    opacity:0.8;
}

.delete-btn{
    background-color: #f56c6c;
}

#searchInput{
    padding:8px;
    margin-left:10px;
    margin-right:10px;
    width:200px;
}

/* 弹窗背景 */
.modal{
    display:none;

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    background:rgba(0, 0, 0, 0.5);

    justify-content:center;
    align-items:center;
}

/* 弹窗内容 */
.modal-content{
    width:350px;

    background:white;

    padding:20px;

    border-radius:10px;

    display:flex;

    flex-direction:column;
}

.modal-content h2{
    margin-bottom:20px;
}

.modal-conten input{
    margin-bottom:15px;

    padding:10px;

    font-size:16px;
}

.modal-buttons{
    display:flex;

    justify-content:space-between;;
}